<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List and Array Practice</title>
</head>
<body>
<h2>Your seat reservations</h2>

<table>
    <tbody data-bind="foreach: seats">
    <tr>
        <td><input data-bind="value: name"/></td>
        <td><select data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"></select></td>
        <td data-bind="text: formatPrice"></td>
        <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
    </tr>
    </tbody>
</table>
<button data-bind="click: addSeat, enable: seats().length < 5">Reserve another seat</button>

<h3 data-bind="visible: totalSurcharge() > 0">
    Total surcharge: $<span data-bind="text: totalSurcharge().toFixed(2)"></span>
</h3>


<script type='text/javascript' src='../node_modules/knockout/build/output/knockout-latest.js'>
</script>
<script src="../models/listAndArrayModel.js"></script>
</body>
</html>